<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->


    <!-- sample program node -->

    <!-- <node pkg="burger_war" type="randomRun.py" name="randomRun" output="screen"/> -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch">
    </include>
    <node pkg="burger_war" type="testrun.py" name="testrun" output="screen"/>
    <node pkg="burger_war" type="cv2test.py" name="cv2test" output="screen"/>
    <node pkg="burger_war" type="sendjudge.py" name="sendjudge" output="screen"/>

    <!-- END sample program node -->


    <!-- End of your space  -->
</launch>

